<div class="container">
  <div class="row">
    <div class="col-lg-6 offset-3">
      <div class="text-center text-uppercase">
        <h2 class="my-3 mb-5" *ngIf="query">Searched for: <b>{{ query }}</b></h2>
        <h2 class="my-3 mb-5" *ngIf="!query">Search something:</h2>
      </div>
    </div>
    <div class="col-lg-12">
      <app-search-item class="search-item"
                       *ngFor="let searchItem of response" [searchItem]="searchItem"
      ></app-search-item>
    </div>
  </div>
</div>
