@import url('https://fonts.googleapis.com/css?family=Roboto&display=swap');

.bg-custom {
  background-color: #0c0026 !important;
}

.nav-item {
  font-family: Roboto, serif;
  font-style: normal;
  font-weight: 500;
  font-size: 18px;
  line-height: 138.6%;
  /* identical to box height, or 25px */

  display: flex;
  align-items: center;
  text-transform: uppercase;

  color: #122C2F;
}
