@import url('https://fonts.googleapis.com/css?family=Roboto&display=swap');
@import "../../../../config.scss";

.navbar-nav {
  .nav-item {
    font-family: Roboto, serif;
    font-style: normal;
    font-weight: 500;
    font-size: 18px;
    color: $navbar-color;
    text-transform: uppercase;
    line-height: 138.6%;
    display: flex;
    align-items: center;

    .nav-link {
      cursor: pointer;
    }
  }
}
