<div class="container container-fluid">
  <div class="row">
    <div class="col-lg-12">
      <div class="add-post">
        <h2>Compose post</h2>
        <form (ngSubmit)="onSubmit(f)" #f="ngForm">
          <div class="new-post-data"
               ngModelGroup="newPostData"
               #newPostData="ngModelGroup">
            <div class="input-group input-group-lg mb-3">
              <div class="input-group-prepend">
                <span class="input-group-text">Author</span>
              </div>
              <input class="form-control form-control-lg"
                     id="new-post-author"
                     name="author"
                     type="text"
                     aria-label="author"
                     [(ngModel)]="loggedInUsername"
                     readonly>
            </div>
            <div class="input-group input-group-lg mb-3">
              <div class="input-group-prepend">
                <span class="input-group-text">Title</span>
              </div>
              <input class="form-control form-control-lg"
                     id="new-post-title"
                     name="title"
                     type="text"
                     aria-label="Title"
                     placeholder="New Post"
                     ngModel>
            </div>
            <div class="input-group form-check mb-3">
              <input class="form-check-input"
                     id="new-post-is-published"
                     name="isPublished"
                     type="checkbox"
                     aria-label="Publish"
                     [(ngModel)]="isPublished">
              <label class="form-check-label" for="new-post-is-published">Publish</label>
            </div>
            <div class="input-group mb-3">
              <label class="input-group-text" for="new-post-category">Category</label>
              <select class="form-control custom-select custom-select-lg"
                      id="new-post-category"
                      name="category"
                      aria-label="Category"
                      #category="ngModel"
                      [ngModel]="defaultCategory"
                      required>
                <option value="NEWS">News</option>
                <option value="REPORT">Report</option>
                <option value="CONFERENCE">Conference</option>
                <option value="INVITATION">Invitation</option>
                <option value="ADVERT">Advert</option>
              </select>
            </div>
            <alert type="danger" class="small form-text ml-2" *ngIf="!category.valid && category.touched">Please choose
              a category!
            </alert>
            <div class="input-group mb-3">
              <div class="input-group-prepend">
                <span class="input-group-text">Post</span>
              </div>
              <textarea class="form-control"
                        id="new-post-body"
                        name="postBody"
                        aria-label="Text area for new post's body"
                        #postBody="ngModel"
                        rows="3"
                        ngModel
                        required>
      </textarea>
            </div>
            <alert type="danger" class="fade show" *ngIf="!postBody.valid && postBody.touched">
              <strong>An error occurred!</strong> Post can not be empty.
            </alert>
          </div>
          <button class="btn btn-lg btn-success float-right"
                  type="submit"
                  [disabled]="!f.valid">
            <fa-icon [icon]="faPlus"></fa-icon>
            Save post
          </button>
        </form>
      </div>
    </div>
  </div>
</div>
