<!-- Footer -->
<footer class="page-footer pt-3 mt-5 bottom font-small unique-color-dark">


  <!-- Footer Links -->
  <div class="container text-center text-md-left mt-5">

    <!-- Grid row -->
    <div class="row mt-3">

      <!-- Grid column -->
      <div class="col-md-3 col-lg-5 col-xl-4 mx-auto mb-4">

        <!-- Content -->
        <h6 class="text-uppercase font-weight-bold text-nowrap">{{COMPANY_NAME}}</h6>
        <hr class="border-light accent-2 mb-4 mt-0 d-inline-block mx-auto" style="width: 60px;">
        <p class="lead text-muted font-italic">{{MISSION}}</p>

      </div>
      <!-- Grid column -->

      <!-- Grid column -->
      <div class="col-md-2 col-lg-1 col-xl-2 mx-auto mb-4">

        <!-- Links -->
        <h6 class="text-uppercase font-weight-bold">Projects</h6>
        <hr class="border-light accent-2 mb-4 mt-0 d-inline-block mx-auto" style="width: 60px;">
        <p>
          <a href="http://mkne.hu/iskolazoldites.php"
             title="Az Iskolazöldítés évek óta egyesületünk egyik vezető programja. Feladata az iskolák környezetbaráttá alakításának segítése.">Iskolazöldítés</a>
        </p>
        <p>
          <a href="http://mkne.hu/otthonazerdoben/"
             title="A program célja, hogy a csatlakozó iskolák diákjai minél több időt töltsenek erdei környezetben, megszeressék a természetet, felismerjék a természeti értékeket, és mindeközben jól érezzék magukat.">Otthon
            az erdőben!</a>
        </p>
        <p>
          <a href="http://mkne.hu/kezedben_a_vilag/hu/home">Kezedben a világ</a>
        </p>
        <p>
          <a href="http://www.vandortanosveny.hu/">Herman Ottó Vándortanösvény</a>
        </p>

      </div>
      <!-- Grid column -->

      <!-- Grid column -->
      <div class="col-md-3 col-lg-2 col-xl-2 mx-auto mb-4">

        <!-- Links -->
        <h6 class="text-uppercase font-weight-bold">Useful links</h6>
        <hr class="border-light accent-2 mb-4 mt-0 d-inline-block mx-auto" style="width: 60px;">
        <p>
          <a href="#!">Your Account</a>
        </p>
        <p>
          <a href="#!">Become an Affiliate</a>
        </p>
        <p>
          <a href="#!">Shipping Rates</a>
        </p>
        <p>
          <a href="#!">Help</a>
        </p>

      </div>
      <!-- Grid column -->

      <!-- Grid column -->
      <div class="col-md-4 col-lg-3 col-xl-3 mx-auto mb-md-0 mb-4">

        <!-- Links -->
        <h6 class="text-uppercase font-weight-bold">Contact</h6>
        <hr class="border-light accent-2 mb-4 mt-0 d-inline-block mx-auto" style="width: 60px;">
        <p>
          <fa-icon size="sm" [fixedWidth]="true" [icon]="faHome"></fa-icon>
          {{ COMPANY_ADDRESS }}</p>
        <p>
          <fa-icon size="sm" [fixedWidth]="true" [icon]="faBuilding"></fa-icon>
          {{ OFFICE_ADDRESS }}</p>
        <p>
          <fa-icon size="sm" [fixedWidth]="true" [icon]="faEnvelope"></fa-icon>
          {{ COMPANY_EMAIL }}</p>
        <p>
          <fa-icon size="sm" [fixedWidth]="true" [icon]="faPhone"></fa-icon>
          {{ COMPANY_PHONE }}</p>
        <p>
          <fa-icon size="sm" [fixedWidth]="true" [icon]="faMobile"></fa-icon>
          {{ COMPANY_MOBILE }}</p>

      </div>
      <!-- Grid column -->

    </div>
    <!-- Grid row -->

  </div>
  <!-- Footer Links -->

  <!-- Copyright -->
  <div class="footer-copyright text-center py-3">&copy; {{ CURRENT_YEAR }} Copyright:
    <a [routerLink]="['']">MKNE</a>
  </div>
  <!-- Copyright -->

</footer>
<!-- Footer -->
