<!-- Navigation -->
<app-top-nav-bar></app-top-nav-bar>

<!-- Page Content -->

<div class="container container-fluid">

  <div class="row">

    <div class="col-lg-8">
      <router-outlet></router-outlet>
    </div>

    <!-- Sidebar Widgets Column -->
    <div class="col-md-4">
<!--      &lt;!&ndash; Search Widget &ndash;&gt;-->
<!--      <app-search-widget></app-search-widget>-->

<!--      &lt;!&ndash; Categories Widget &ndash;&gt;-->
<!--      <app-category-widget></app-category-widget>-->

<!--      &lt;!&ndash; Side Widget &ndash;&gt;-->
<!--      <app-side-widget></app-side-widget>-->

    </div>

  </div>
  <!-- /.row -->

</div>
<!-- /.container -->

<!-- Footer -->
<!--<app-footer></app-footer>-->
