@import '../../../../config.scss';

carousel {
  slide {
    height: 45vh;
  }

  .carousel-caption {
    color: $white;
  }

  .carousel-caption h3 {
    font-family: Roboto, serif;
    font-style: normal;
    font-weight: bold;
    font-size: 5vh;
    line-height: 100%;
  }

  .carousel-item:after {
    $blue-35: rgba(19, 78, 94, 0.35);
    $blue-100: rgba(19, 78, 94, 100);
    $green-35: rgba(113, 178, 128, 0.35);
    $green-20: rgba(113, 178, 128, 0.2);
    content: '';
    display: block;
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    background: $blue-35;
    background: -moz-linear-gradient(left, $blue-35 0%, $green-35 100%);
    -webkit-mask-background: -webkit-gradient(
      linear,
      left top,
      right top,
      from($blue-35),
      to(rgba(113, 178, 128, 0))
    );
    background: -webkit-linear-gradient(left, $blue-35 0%, $green-35 100%);
    background: -o-linear-gradient(left, $blue-100 0%, $green-20 100%);
    background: -ms-linear-gradient(left, $blue-100 0%, $green-20 100%);
    background: linear-gradient(to right, $blue-100 0%, $green-20 100%);
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#134e5e', endColorstr='#71b280', GradientType=1);
  }
}
