<carousel>
  <slide>
    <img
      class="d-block w-100"
      src="assets/images/carousel/0001.jpg"
      alt="first slide" />
    <div class="carousel-caption mt-sm-0 d-md-block">
      <h3>Az Egyesület célja</h3>
      <p>
        A környezeti neveléshez szükséges ismeretek és módszerek gyűjtése és
        terjesztése, a környezeti nevelők munkájának segítése, a közöttük lévő
        együttműködés bátorítása és szervezése.
      </p>
    </div>
  </slide>
  <slide>
    <img
      class="d-block w-100"
      src="assets/images/carousel/0002.jpg"
      alt="second slide" />
    <div class="carousel-caption d-none d-md-block">
      <h3>Az Egyesület története</h3>
      <p>
        Egyesületünket 53 lelkes környezeti nevelő alapította 1992 márciusában.
      </p>
    </div>
  </slide>
  <slide>
    <img
      class="d-block w-100"
      src="assets/images/carousel/0003.jpg"
      alt="third slide" />
    <div class="carousel-caption d-none d-md-block">
      <h3>Küldetésünk</h3>
      <p>
        A természet és az ember tiszteletén alapuló etika formálása, a
        bolygóméretben és évszázadokban való gondolkodás felelősségének
        szorgalmazása, az együttműködés és a türelem gyarapítása. Az ökológiai
        fenntarthatósághoz szükséges készségek felismerése és gyakoroltatása.
      </p>
    </div>
  </slide>
</carousel>
