$p5: 5vw;

/* Color definitions */
$white: rgb(255, 255, 255);
$red: rgb(255, 0, 0);

$green-teal: #05c46b;
$minty-green: #0be881;
$megaman: #4bcffa;
$warning-orange: #ffc048;
$red-orange: #ff3f34;
$black-pearl: #1e272e;
$london-square: #808e9b;
$hint-of-elusive-blue: #d2dae2;


