@charset "utf-8";

*, *::before, *::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;

  body {
    padding-top: 15vw;
    background-color: rgba(255, 255, 255, 1);
  }

  @media (min-width: 992px) {
    body {
      padding-top: 5vw;
    }
  }
}
